    <form method="post">
        <table class="spacing">
        <tr>
            <th><b>Nummer</b></th>
            <th><b>Begindatum</b></th>
            <th><b>Einddatum</b></th>
            <th><b>Tarief</b></th>
        </tr>