<a href="/main/service/overzicht" class="button" style="float:right;">Overzicht</a>
<div class="group">
    <h1>FAQ</h1>
    <p><b>
        Hoe maak ik een abonnement aan?
    </b></p>
    <p>
        U gaat naar de pagina citypark.marwijnn.me/main/abo/
    </p>
</div>
<div class="group">
    <h1>FAQ</h1>
    <p><b>
        Hoe zeg ik mijn abonnement op?
    </b></p>
    <p>
        U gaat naar de pagina citypark.marwijnn.me/main/abo/ en drukt op opzeggen
    </p>
</div>