    <h1>Gesloten aanvragen</h1>

<table class="spacing">
    <tr>
        <th><b>Nummer</b></th>
        <th><b>Titel</b></th>
        <th><b>Datum</b></th>
        <th><b>Medewerker</b></th>
        <th><b>Sluitdatum</b></th>
        <th><b>Inzien</b></th>
    </tr>