<div class="geblokkeerd-abo">
    <h2>Abonnementnummer: {{id}}</h2>
    <label>Begin Datum:</label> <span> {{startdate}}</span><br>
    <label>Einddatum:</label> <span> {{enddate}}</span><br>
    <p>Indien uw abonnement geblokeerd is kunt u contact opnemen met de service afdeling </p><br>
    <a href="/main/service/newService" class="button">Service aanvraag</a><br>
    <a href="/main/factuur/overzicht/?id={{id}}" class="button" >Facturen</a>
</div>