Options +FollowSymLinks
IndexIgnore */*
# Turn on the RewriteEngine
RewriteEngine On
#  Rules
# Ignore Data folder
RewriteCond %{REQUEST_URI} !Data
#redirect everything to index.php
RewriteRule . index.php
#path session
php_value session.save_path /tmp
php_value session.save_handler files