
<h2>Pasbeheer</h2>

<p class="errors">
    {{errors}}
</p>

<p> Voer abonnements-id in: </p>

<form method="get" action = "/main/pas/index/">

    {{abonnementen}}
    <input type="hidden" name="verzonden" value="true"/>
    <button type="submit">Ok</button>
</form>